@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
/*Base Styling*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #424549;
}

ul  {
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #f9f9f9;
}
h1{
    color: #fffffc;
    margin: 16px 0;
    font-weight: 800;
}
h3 {
    margin:8px 0;
    font-weight: 800;
}
p {
    margin: 16px;
    line-height: 1.75;
    font-weight: 400;
}

/* Navigation */
header {
    line-height: 100px;
    /*border: 3px solid white;*/
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

nav ul li{
    display: inline;
    padding: 0 16px;
}
nav ul li a {
    color: #7289da;
}

.mobile {
    display: none;
}

.show {
    display: block;
}

@media (max-width: 768px) {
    nav{
        position: static;
    }
    nav ul {
        display: none;
        width: 100%;
        background-color: grey;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        height: 40vh;
        text-align: center;
    }

    nav ul li{
        display: block;
    }
    nav ul li a{
        color: #fffffc;
    }
    a.mobile {
        color: black;
        display: block;
        font-size: 32px;
    }
}

/* Aside */
aside {
    background-color: #282b30;
    padding: 64px;
    /*border: 3px solid white;*/
}

aside.comment.archives {
    margin-top: 64px;
}

/* Blog */
.blog-post h1{
    color: white;
}
.blog-post a{
    color: dodgerblue;
}
.blog-post{
    padding: 32px;
    /*border: 3px solid white;*/
}


.container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 100px auto 100px;
    height: 100vh;
    width: 100%;
    margin: 0 auto;

}

header {
    background-color: #1e2124;
    grid-column-start: span 0;
    grid-column-end: span 3;
}

header h2{
    color: white;
}

aside {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    max-width: 100%;
}

main {
    background-color: #36393e;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
}


@media (max-width: 768px){
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 100px auto auto 100px;
        width: 100%;
    }
    header.aside.main.footer{
        grid-column-start: span 1;
    }
}
